{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<h1>About this company</h1>
<p>Thanks for checking it out</p>
<p>This iPad application registered new customers into our Kairos API and Firebase database. It also displayed all customers in the store and the inventory of store items. The ability to interact directly with the Firebase database and observe changes made to it (e.g. when a customer’s in_store attribute changes from true to false) made this a relatively painless process. The app was a great customer-facing addition to our demo.</p>

{% endblock %}